@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0%;
    padding: 0%;
    border: 0% ;
    font-size: 100%;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12%;
    background-color: black;
    background-repeat: none;
    position: fixed ;
    width: 500%;
    text-decoration: none;
    font-size: 22px;
    
}

.hover:hover {
    background: #df0a0a;  
    width: 100%;  
    transition: 0.3s;
}


.banner {
    justify-content: right  ;
}

link img {
    border-radius: 10px;
}
.formulario {
    background-color: black;
    color: #FFF;
    font-family: 'Bebas Neue';
    margin-top: 70px;

}
.div p h3 {
    justify-content: top;
}


h3 {
    grid-row: auto;
}

.navbar ul {
    display: flex;
    margin: 800px;
    font-size: 30px;
}

.navbar li {
    display: inline;
    text-decoration: none;
    width: 100%;
    height: 40px;
    margin: 20px;
    padding: 5px;
    }


.navbar a {

    padding: 10px 10px;
    color: #FFF; 
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    text-decoration: none;
}

h1, h3 {
    font-family: 'Bebas Neue';
}
.fondo {
    background-color: #df0a0a;    
    justify-content: center;
    align-items: center;
    display: block;
    background-size: cover;
}

.img {
    display: flex;
    width: 100%;
    height: 100%;
    font-weight: 600px;
    align-items: center;
}
img {
    display: flex;
    position: center;
    height: 100%;

}

.section {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-content: center;

}

.piepagina {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    position: center   ;

}
.titulo-entrada {
    justify-content: center;
    padding: 2px 500px;
    font-size: 40px;
}

.titulo {
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    padding: 110px 1px;
    color: #FFF;
    font-size: larger;
}
.texto-historia p {
    justify-content:space-around;
    align-content: center;
    color: #FFF;
    margin: 10px;
    padding: 300px;
    font-family: 'Courgette', cursive;
}

.images {
    display: flex;
    position: center;
    height: 700px;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
    padding: 20px;
}

.container {
    min-height: 100vh;
    max-height: 100%;
    padding: 1px 10px;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    justify-items: center;
    align-items: center;
    }

.container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25 ;
    background-color: white ;
    grid-template-columns: repeat(5, 300px);

}

.container .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 300;
    font-family: 'Bebas Neue';


}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #df0a0a;
    font-family: 'Bebas Neue';

}


