@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0%;
    padding: 0%;
    border: 0% ;
    font-size: 100%;

}

.header {
    display: flex;
    align-items: center;
    justify-content:end;
    height: 50px;
    background-color: black;
    background-repeat: none;
    width: 100%;
    text-decoration: none;
    font-size: 22px;
    
}

.btn{
    display: flex;
    background-color: #191919;
    width: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFF;
    font-family: 'Bebas Neue';
    justify-content: center;
    font-size: 20px;
}

.btn:hover{
    background-color: #df0a0a;
}
.hover:hover {
    background: #df0a0a;  
    width: 100%;  
    transition: 0.3s;
    border-radius: 4px;
}

.inicio {
    background-image: url(../assets/sushi-tigger2.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

}

.inicio__contenedor {
    padding: 200px 50px;
    color: #fff;
    width: 60%;
    gap: 10px;
}

.inicio__contenedor p {
    font-family: 'Bebas Neue';
    font-size: 30px;
    padding-right: 150px;
    margin: 5px 0;
}

.inicio__titulo {
    font-family: 'Bebas Neue';
    font-size: 80px;
    color: #df0a0a;
}

link img {
    border-radius: 10px;
}
.formulario {
    color: #FFF;
    font-family: 'Bebas Neue';
    margin-top: 70px;

}
.div p h3 {
    justify-content: top;
}


h3 {
    grid-row: auto;
}

.navbar ul {
    display: flex;
    margin: 10px;
    font-size: 30px;
}

.navbar li {
    display: inline;
    text-decoration: none;
    width: 100%;
    height: 40px;
    margin: 20px;
    padding: 5px;
    }


.navbar a {

    padding: 10px 10px;
    color: #FFF; 
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    text-decoration: none;
}

h1, h3 {
    font-family: 'Bebas Neue';
}
.fondo {
    background-image: url(../assets/fondo-2.jpeg);    
    justify-content: center;
    align-items: center;
    display: block;
    background-size: cover;
}

.img {
    display: flex;
    width: 100%;
    height: 100%;
    font-weight: 600px;
    align-items: center;
}
img {
    display: flex;
    position: center;
    height: 100%;
}


.section {
    display: flex;
    margin: 10px;
    padding: 10px;
    align-content: center;
}

.piepagina {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    position: center;
}
.titulo-entrada {
    justify-content: left;
    align-items: left;
    align-content: left;
    background-color: #1919199d;
    padding: 5px 100px;
    font-size: 25px;
}

.titulo {
    justify-content: left;
    align-items: left;
    font-family: 'Bebas Neue';
    padding: 10px;
    color: #FFF;
    font-size: larger;
}

.images {
    display: flex;
    position: center;
    height: 700px;
    justify-content: center;
    align-items: stretch;
    margin: 10px;
    padding: 20px;
}

.container {
    min-height: 100vh;
    max-height: 100%;
    padding: 2px 18px;
    display: grid;
    grid-template-columns: repeat(4, 400px);
    justify-items: center;
    align-items: center;
    }

.container .card {
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25 ;
    background-color: white ;
    grid-template-columns: repeat(5, 300px);
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-weight: 100;
    font-size: 20px;
    margin: 8px;
    font-family: 'Bebas Neue';
}

.container .card p{
    padding: 0 1rem;
    font-size: 13px;
    font-weight: 300;
    margin: 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #df0a0a;
    font-family: 'Bebas Neue';
}

.nosotros {
    min-height: 100vh;
    max-height: 100%;
    display: grid;
    padding: 10px 10px;
    margin: 20px;
    grid-template-columns: repeat(2, 750px);
    justify-items: center;
    align-items: center;
    background-color: #191919b3;
    text-align: center;
}

.texto-historia p {
    justify-content:center;
    align-content: center;
    color: #FFF;
    margin: 5px;
    padding: 5px;
    font-family: 'Bebas Neue';}

.nosotros .image-historia{
    width: 600px;
    display: flex;
}
.nosotros .texto-historia p{
    font-size: 30px;
    display: flex;
}

.pie-pagina {
    width: 100%;
    background-color: black;
    font-family: 'Bebas Neue';
    color: #fff;
}

.pie-pagina .grupo-1 {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    padding: 150px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box img {
    width: 250px;
}
.pie-pagina .grupo-1 h2 {
    color: #df0a0a;
    margin-bottom: 25px;
    font-size: 30px;
}
.pie-pagina .grupo-1 p {
    color: #FFF;
    margin-bottom: 15px;
} 

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #df0a0a;
    margin-right: 10px;
    background-color: #FFF;
    text-align: center;
    font-size: 20px;
    transition: all 300ms ease;
}

.pie-pagina .grupo-2 {
    background-color: #df0a0a;
    padding: 15px 10px;
    text-align: center;
    color: #191919;
    font-size: 13px;
    font-family: 'Bebas Neue';
    justify-content: center;
}


/* Footer */

.nosotros_contenedor {
    min-height: 100vh;
    max-height: 100%;
    padding: 2px 18px;
    display: grid;
    grid-template-columns: repeat(2, 800px);
    justify-items: center;
    align-items: center;
}

.nosotros_contenedor .nosotros-1{
    width: 90%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
}

.nosotros_contenedor .formulario{
    width: 90%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
}


@media only screen and (max-width:400px) {
    
    .header {
    height: 40px;
    font-size: 10px;
    }

    .navbar ul {
        display: flex;
        font-size: 25px;
    }
    
    .navbar li {
        height: 30px;
        margin: 15px;
        padding: 5px;
        }
    
    .navbar a {
    
        padding: 10px 10px;
        color: #FFF; 
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue';
        text-decoration: none;
    }

    .inicio__contenedor {
        padding: 15px 10px;
        gap: 5px;
    }
    
    .inicio__contenedor p {
        font-size: 20px;
        padding-right: 60px;
        margin: 10px 0;
    }
    
    .inicio__titulo {
        font-size: 46px;
}

.btn{
    width: 80px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.pie-pagina .grupo-1 {
    grid-template-columns: repeat(1, 380px);
    grid-gap: 30px;
    padding: 25px 15px;
    justify-content: center;
}

.pie-pagina .grupo-1 .box figure {
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 h2 {
    margin-bottom: 20px;
    font-size: 22px;
}
.pie-pagina .grupo-1 p {
    font-size: 18px;
} 

.pie-pagina .grupo-2 {
    padding: 12px 08px;
    font-size: 10px;
}

.titulo-entrada{
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.container {
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    margin: 10px;
    padding: 10px;
    }

.container .card {
    width: 180px;
    height: 300px;
    border-radius: 6px;
    margin: 0px;
}

.container .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.container .card img{
    width: 210px;
    height: 150px;
}

.container .card h4{
    font-size: 12px;
    margin: 5px;
}

.container .card p{
    padding: 0 1rem;
    font-size: 10px;
    margin: 3px;
}

.container .card a {
    font-size: 12px;
}

.nosotros {
    display: grid;
    padding: 10px 10px;
    margin: 10px;
    grid-template-columns: repeat(1, 370px);
}

.texto-historia p {
    margin: 5px;
    padding: 5px;
}
.nosotros .image-historia{
    width: 370px;
    display: flex;
}
.nosotros .texto-historia p{
    font-size: 24px;
}

.nosotros_contenedor {
    display: grid;
    gap: 10px;
    padding: 10px 10px;
    margin: 10px;
    grid-template-columns: repeat(1, 370px);
    justify-content: center;
    align-items: center;
}

.nosotros_contenedor .nosotros-1{
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nosotros_contenedor .formulario{
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    justify-content: center;
    align-items: center;
}}

@media only screen and (max-width:) {
    
    .header {
    height: 40px;
    font-size: 6px;
    }

    .navbar ul {
        display: flex;
        font-size: 25px;
    }
    
    .navbar li {
        height: 30px;
        margin: 15px;
        padding: 5px;
        }
    
    .navbar a {
    
        padding: 10px 10px;
        color: #FFF; 
        justify-content: center;
        align-items: center;
        font-family: 'Bebas Neue';
        text-decoration: none;
    }

    .inicio__contenedor {
        padding: 10px 5px;
        gap: 0px;
    }
    
    .inicio__contenedor p {
        font-size: 20px;
        padding-right: 60px;
        margin: 10px 0;
    }
    
    .inicio__titulo {
        font-size: 50px;
}

.btn{
    width: 80px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.pie-pagina .grupo-1 {
    grid-template-columns: repeat(1, 380px);
    grid-gap: 20px;
    padding: 20px 5px;
    justify-content: center;
}

.pie-pagina .grupo-1 .box figure {
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 h2 {
    margin-bottom: 15px;
    font-size: 22px;
}
.pie-pagina .grupo-1 p {
    font-size: 18px;
} 

.pie-pagina .grupo-2 {
    padding: 12px 08px;
    font-size: 10px;
}

.titulo-entrada{
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.container {
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    margin: 10px;
    padding: 10px;
    }

.container .card {
    width: 180px;
    height: 300px;
    border-radius: 6px;
    margin: 0px;
}

.container .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.container .card img{
    width: 210px;
    height: 150px;
}

.container .card h4{
    font-size: 12px;
    margin: 5px;
}

.container .card p{
    padding: 0 1rem;
    font-size: 10px;
    margin: 3px;
}

.container .card a {
    font-size: 12px;
}

.nosotros {
    display: grid;
    padding: 10px 10px;
    margin: 10px;
    grid-template-columns: repeat(1, 370px);
}

.texto-historia p {
    margin: 5px;
    padding: 5px;
}
.nosotros .image-historia{
    width: 370px;
    display: flex;
}
.nosotros .texto-historia p{
    font-size: 24px;
}

.nosotros_contenedor {
    display: grid;
    gap: 10px;
    padding: 10px 10px;
    margin: 10px;
    grid-template-columns: repeat(1, 370px);
    justify-content: center;
    align-items: center;
}

.nosotros_contenedor .nosotros-1{
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nosotros_contenedor .formulario{
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    justify-content: center;
    align-items: center;
}

}
