@import '../style.scss';

@media only screen and (min-width: 380px) and (max-width: 576px) {
    .header {
      height: 50px;
      font-size: 6px; }

    .navbar ul {
      display: flex;
      font-size: 25px; }

    .navbar li {
      height: 30px;
      margin: 15px;
      padding: 5px; }

    .navbar a {
      padding: 10px 10px;
      color: #FFF;
      justify-content: center;
      align-items: center;
      font-family: 'Bebas Neue';
      text-decoration: none; }
      
    .inicio__contenedor {
      padding: 10px 5px;
      gap: 0px; }

    .inicio__contenedor p {
      font-size: 20px;
      padding-right: 60px;
      margin: 10px; }

    .inicio__titulo {
      font-size: 45px;
      margin: 10px; }

    .btn {
      width: 80px;
      padding: 10px;
      margin-bottom: 10px;
      font-size: 15px; }

    .pie-pagina .grupo-1 {
      grid-template-columns: repeat(1, 380px);
      grid-gap: 20px;
      padding: 20px 5px;
      justify-content: center; }

    .pie-pagina .grupo-1 .box figure {
      justify-content: center;
      align-items: center; }

    .pie-pagina .grupo-1 h2 {
      margin-bottom: 15px;
      font-size: 22px; }

    .pie-pagina .grupo-1 p {
      font-size: 18px; }

    .pie-pagina .grupo-2 {
      padding: 12px 08px;
      font-size: 10px; }

    .titulo-entrada {
      font-size: 18px;
      justify-content: center;
      align-items: center; }

    .container {
      grid-template-columns: repeat(2, 50%);
      gap: 10px;
      padding: 10px; }

    .container .card {
      width: 180px;
      height: 300px;
      border-radius: 6px;
      margin: 0px; }

    .container .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5); }

    .container .card img {
      width: 210px;
      height: 150px; }

    .container .card h4 {
      font-size: 12px;
      margin: 5px; }

    .container .card p {
      padding: 0 1rem;
      font-size: 10px;
      margin: 3px; }

    .container .card a {
      font-size: 12px; }

    .nosotros {
      display: grid;
      padding: 10px 10px;
      margin: 10px;
      grid-template-columns: repeat(1, 100%); }

    .texto-historia p {
      margin: 5px;
      padding: 5px; }

    .nosotros .image-historia {
      width: 100%;
      display: flex; }

    .nosotros .texto-historia p {
      font-size: 24px; }

    .nosotros_contenedor {
      display: grid;
      gap: 10px;
      padding: 10px 10px;
      margin: 10px;
      grid-template-columns: repeat(1, 100%);
      justify-content: center;
      align-items: center; } }